.items-container{
    width:80%;
}
.items{
    display: flex;
    background: #fff;
    padding: 10px;
    margin:10px;
    border:none;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
  }
  .items:hover{
    background: rgb(165, 213, 235);
  }
  .item-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .items .item-left p{
    margin: 0;
    margin-left: 5px;
  }
  
.line-through{
    text-decoration: line-through;
    color:green;
}
.list-buttons{
  display: flex;
  justify-content: space-between;
  margin-top:5px;
  margin-bottom:20px;
}
.list-buttons .button{
  width:130px;
  height: 35px;
  margin:5px;
  padding:5px;
    border-radius: 5px;
    outline: none;
    border: none;
    background: rgb(5, 240, 64);
    font-weight: bold;
}
.list-buttons .button:hover, .button:focus{
  background: rgb(177, 240, 5);
}

@media (max-width: 1090px){
  .list-buttons .button{
    width:100px;
  }
}

